*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html, body{
    width: 100%;
    height: 100%; 
}

main{
    height: 100vh;;
    width: 100vw;
    margin: 0;
    padding: 0;    
}

.nav{
    height: 100px;
    width: 100%;
    /* background-color: aquamarine; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}

.logo img{
    height: 85px;
    width: 115px;
    margin-top: 10px;
    margin-left: 10px;
    /* background-color: aquamarine; */
}

.pages{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 90px;
    margin-right: 50px;

}

.pages li{
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}

.pages li a{
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.nav li a:hover {
    cursor: pointer;
    color: rgb(192, 160, 0);
}

.pages i{
    color: white;
    font-size: 20px;
}
.pages i:hover{
    cursor: pointer;
    color: rgb(192, 160, 0);
}



/* <-----------Page 1--------> */

.page1{
    height: 100vh;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1605296867304-46d5465a13f1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.page1 h1{ 
    font-size: 100px;
    text-transform: uppercase;
}

.page1 h2{
    font-size: 150px;
    letter-spacing: 30px;
    
}

.page1 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    word-spacing: 20px;
    color: rgb(207, 207, 107);
}



/* <-----------Page 2--------> */

.page2{
    height: 80vh;
    width: 100%;
    background-color: rgb(37, 37, 37);
    display: flex;
}

.welcome-left{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.video{
    width: 80%;
    height: auto;
    margin: auto;
}

.video video {
    width: 100%;
    height: auto;
}

.image{
    display: flex;
}

.image img{
    height: 30%;
    width: 30%;
    background-size: cover;
}

.welcome-right{
    height: 100%;
    width: 40%;
    color: black;
    padding-left: 20px;
    padding-right: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
}

.welcome-right h1{
    margin-top: 20px;
    padding-top: 40px;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 900;
}

.welcome-right h1 span{
    font-size: 75px;
    color: rgb(205, 172, 4);
}

.welcome-right p{
    font-size: 16px;
    color: rgb(194, 192, 192);
    /* background-color: chartreuse; */
    margin-top: 20px;
    padding: 15px;
    line-height: 25px;
    font-weight: 400;
}

.welcome-right button{
    color: white;
    margin-top: 50px;
    padding: 12px 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(23, 23, 23);
    border-radius: 30px;
    margin-left: 20px;
    border: 2px solid black;
}

.welcome-right button:hover{
    cursor: pointer;
    background-color: rgb(192, 160, 0);

}

/* <-----------Page3--------> */

.page3{
    height: 30vh;
    width: 100%;
    /* background-color: rgb(122, 134, 71); */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 50px;
    line-height: 30px;
}

.page3 h1{
    font-weight: 800;
    font-size: 60px;
    /* background-color: blueviolet; */
    margin-bottom: 40px;
}

.page3 h1:hover{
    cursor: pointer;
    color: grey;
}

.motivation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    
}

.motivation h2{
    /* background-color: rgb(60, 55, 64); */
    font-size: 25px;
    padding: 10px;
    border-radius: 22px;
    border: 2px solid black;
    
}

.motivation h2:hover{
    cursor: pointer;
    background-color: rgb(205, 184, 50);
    color: white;
    border: 2px solid white;
}



/* <-----------Trainer--------> */

.trainer{
    padding: 20px;
    height: 50vh;
    width: 100%;
    background-color: rgb(77, 77, 77);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trainer h1{
    align-items: center;
    font-size: 40px;
}

.trainer h1:hover{
    cursor: pointer;
    color: gray;
    border-bottom: 2px solid black;
}

.trainer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

.trainer1 img{
    height: 250px;
    width: 400px;
    padding-right: 100px;
}

.trainer1 {
}

.trainer1 p{
    font-size: 30px;
    line-height: 50px;
}

/* <-----------Gym Tour--------> */

.gymTour{
    height: 100%;
    width: 100%;
    background-color: rgb(36, 55, 17);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gymTour h1{
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 40px;
    padding-top: 40px;
}

.tour-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.row1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.row1 img{
    height:300px;
    width: 500px;
}

.row1 video{

}

.row2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.row2 img{
    height: 300px;
    width: 500px;
}

.row2 video{

}

.row3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;  
}

.row3 img{
    height: 300px;
    width: 500px;
}

.shorts{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 20px;
}

.shorts video {
    width: 20%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px; /* Adjust margin to create space between videos */
  }

/* <-----------Gallery--------> */

.gallery{
    height: 100vh;
    width: 100%;
    background-color: chocolate;
}




/* <-----------Footer--------> */

.footer{
    height: 40vh;
    width: 100%;
    background-color: black;
}

